* {
    font-family: 'Indie Flower', cursive;
    margin:0px;
}

body {
	background: black;
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
    margin: auto;
    padding:10px;
}

.postcard-header {
	display: flex;
}

.postcard-header .title{
	width: 90%;
}

.postcard-header h1 {
	margin: 0px;
}

.postcard-header img {
	width: 50px;
	height: 50px;
}

.postcard-body {
	display: flex;
}

.postcard-footer {
    text-align: center;
}

.postcard-footer button {
	background: grey;
	padding: 5px;
}

.postcard-body .body-left, .postcard-body .body-right{
    padding:5px;
}